graft src
graft etc
graft thirdparty

graft tests

prune src/deltacode.egg-info

include AUTHORS.rst
include CHANGELOG.rst
include README.md
include apache-2.0.LICENSE
include deltacode.ABOUT
include NOTICE
include MANIFEST.in
include setup.py
include setup.cfg
include .gitignore
include configure
include configure.bat
include .travis.yml

global-exclude *.py[co] __pycache__ *.*~
